/* Welcome Screen Styling */

.welcome-screen {

    -fx-background-color: linear-gradient(to bottom, #FFB997,#843B62); /* Gradient background from Deep Plum to Peach */

    -fx-alignment: center;

    -fx-padding: 20px;

}



/* Styling for the Welcome Label */

.welcome-label {

    -fx-font-size: 500px;

    -fx-text-fill: white; /* Ensure text is white */

    -fx-font-family: "Arial", sans-serif; /* Clean and modern font */

    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 10, 0, 0, 2); /* Subtle white shadow */

    -fx-alignment: center;

}



/* Styling for HBox holding the GIFs */

.hbox {

    -fx-spacing: 10;

    -fx-alignment: center;

}